<form id='new-comment'>
  <div class='field'>
    <label class='label'>Comment</label>
    <div class='control'>
      <input
        class='input'
        type='text'
        placeholder='Type Your Comment Here'
        id='newcomment-body'
      />
    </div>
  </div>

  <fieldset disabled>
    <div class='field'>
      <label class='label'>Status</label>
      <div class='control'>
        <input
          class='input'
          type='text'
          placeholder='Comment must be at least 5 characters in length!'
          id='newcomment-status'
        />
      </div>
    </div>
  </fieldset>

  <div class='field is-grouped'>
    <div class='control'>
      <button
        id='submit'
        class='button is-link commentSubmitBtn'
      >Submit</button>
    </div>
    <div class='control'>
      <button
        id='cancel'
        class='button is-link is-light commentCancelBtn'
      >Cancel</button>
    </div>
  </div>

</form>
<script src='/javascript/newcomment.js'></script>