<div class="block">
    <h2 class="title is-2">Edit Comment</h2>
    <h4 class="subtitle is-4">
        Fill Out The Form Below and Hit Update To Revise Your Comment!
    </h4>
    {{> comment-details}}
</div>