main {
    display: flex;
    justify-content: center;
}

.navbar-item img {
    max-height: max-content !important;
}

form {
    width: 80%;
}

.label {
    text-align: center;
}

.field.is-grouped {
    justify-content: center !important;
}

@media screen and (max-width: 1023px) {
    .navbar-dropdown.is-hidden-touch {
        display: none;
    }

    .navbar-burger.is-active+.navbar-menu {
        display: block;
        position: absolute;
        right: 0;
        left: auto;
        top: 100%;
        transform: translateX(100%);
    }
}